body {
    margin: 0px !important;
    background-image: url(../img/Background-image.png);
    padding-top: 20px;
}

.logo {
    margin: 0 auto;
    width: 55%;
    border-bottom: 3px solid #BB9A85;
    padding-bottom: 20px;
}

.logo img {
    width: 55%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.opcoesIcones {
    height: 40px;
    width: 55%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.opcoesIcones ul {
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
}

.opcoesIcones ul li {
    float: right;
    padding-right: 10px;
    list-style-type: none;
    height: 40px ;
}

.opcoesIcones ul li img {
    margin-top: 4px;
    width: 20px;
    height: auto;
    border: 1px solid #bb9a8500;
}

.opcoesIcones ul li img:hover {
    border: 1px solid #F4AE82;
    border-radius: 3px;
}

.content {
    width: 55%;
    border: 2px dashed #BB9A85;
    border-radius: 5px;
    display: flexbox;
    margin: 0 auto;
}

.lista ul {
    margin: 0px;
    padding: 0px;
}

.lista ul li {
    list-style-type: none;
}